#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = 1
ifneq ($(wildcard /usr/share/base-files/nsswitch.conf),)
    DEBATHENA_REPLACE_CONFFILES_debathena-nsswitch-config += \
	/etc/nsswitch.conf.debathena
    DEBATHENA_REPLACE_CONFFILES_SOURCE_/etc/nsswitch.conf.debathena = \
	/usr/share/base-files/nsswitch.conf
else
    DEBATHENA_REPLACE_CONFFILES_debathena-nsswitch-config += \
	/etc/nsswitch.conf.debathena
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/debathena-replace-conffiles.mk

