#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_TRANSFORM_FILES_debathena-nsswitch-config += \
	/etc/nsswitch.conf.debathena
ifneq ($(wildcard /usr/share/libc-bin/nsswitch.conf),)
    DEB_CHECK_FILES_SOURCE_/etc/nsswitch.conf.debathena = \
	/usr/share/libc-bin/nsswitch.conf
else ifneq ($(wildcard /usr/share/base-files/nsswitch.conf),)
    DEB_CHECK_FILES_SOURCE_/etc/nsswitch.conf.debathena = \
	/usr/share/base-files/nsswitch.conf
endif
DEB_DIVERT_FILES_debathena-nsswitch-config += \
	/usr/sbin/adduser.debathena \
	/usr/sbin/groupadd.debathena \
	/usr/sbin/addgroup.debathena \
	/usr/sbin/useradd.debathena \
	/usr/bin/dpkg.debathena \
	/usr/sbin/invoke-rc.d.debathena

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

